<div *ngIf="isUserAuthenticated()">
  <div class="card" style="margin-right: 6.5%;">
    <div class="card-header bg-header-page "
      style="font-size: 16px !important; height: 40px;  padding-top: 10px; font-weight: 600;">
      ข้อมูล Cost Center
      <div class="ml-auto">
        <div class="{{SvDefault.GetBackgroundRibbon(Header.BrnStatus)}}">
          <label class="ribbon-1-text">{{HiddenButton?.status}}</label>
        </div>
      </div>
    </div>
    <!-- end of card header -->

    <div class="card-body">
      <div class="row">
          <div class="col-6">
            <div class="row my-2">
              <div class="col-4 topic text-right">รหัสบริษัท :</div>
              <div class="col-6">
                <input type="text" class="form-control form-control-sm w-100" [(ngModel)]="Header.CompCode"
                  [disabled]="isDisable === false">
              </div>
            </div>
          </div>
      </div>

      <div class="row">
        <!-- start column -->
        <div class="col-6">
       
          <div class="row my-3">
            <div class="col-4 topic text-right">รหัสส่วนงาน :</div>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm w-100" [(ngModel)]="Header.BrnCode"
                [disabled]="isDisable === false">
            </div>
          </div>
          <div class="row my-3">
            <div class="col-4 topic text-right">Cost Center :</div>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm w-100" [(ngModel)]="Header.CostCenter">
            </div>
          </div>
        </div>
        <div class="col-6">
          
          <!-- <div class="row my-2">
            <div class="col-4 topic text-right"></div>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm w-100" [(ngModel)]="Header.MapBrnCode">
            </div>
          </div> -->

          
          <div class="row my-3">
            <div class="col-4 topic text-right">ชื่อส่วนงาน :</div>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm w-100" [(ngModel)]="Header.BrnName">
            </div>
          </div>
          <div class="row my-3">
            <div class="col-4 topic text-right">Profit Center :</div>
            <div class="col-6">
              <input type="text" class="form-control form-control-sm w-100" [(ngModel)]="Header.ProfitCenter">
            </div>
          </div>
        </div>
      </div><!-- end of Left Column -->
    </div>
    <!-- end of card body -->

    <div class="right-bar mt-2">
      <button class="btn circle-button circle-buttonSave" (click)="SaveData()" [hidden]="HiddenButton.btnSave"
        data-tooltip="Save" data-tooltip-location="left">
        <i class="far fa-save"></i>
      </button>
      <button class="btn circle-button circle-buttonCancel" (click)="UpdateStatus('Cancel')"
        [hidden]="HiddenButton.btnCancel" data-tooltip="Cancel" data-tooltip-location="left">
        <i class="fas fa-times"></i>
      </button>
      <button class="btn circle-button circle-buttonClear" (click)="NewData()" [hidden]="HiddenButton.btnClear"
        data-tooltip="Clear" data-tooltip-location="left">
        <i class="fas fa-eraser"></i>
      </button>
      <button class="btn circle-button circle-buttonBack" routerLink="/CostCenterList" [hidden]="HiddenButton.btnBack"
        data-tooltip="Back" data-tooltip-location="left">
        <i class="fas fa-undo"></i>
      </button>
    </div>
    <!-- end of button right bar -->
  </div>
</div>