<div class="modal-header bg-header">
  <span class="modal-title h6">
    <i class="fa fa-plus mr-3"></i>รายการสิทธิ์อื่นๆ
  </span>
  <button type="button" class="close" (click)="CloseModal()">
      &times;
  </button>
</div>
<div class="modal-body">
  <table class="table table-sm table-hover table-borderless">
    <tbody>
      <tr *ngFor="let item of ArrCheckBox; let i = index">
        <td class="text-center align-middle">
          <input type="checkbox" [(ngModel)]="ArrCheckBox[i].PropValue" />
        </td>
        <td class="text-center align-middle">
          <input class="form-control form-control-sm rounded-0" [(ngModel)]="ArrCheckBox[i].PropName"/>
        </td>
        <td class="btn-outline-danger text-center align-middle" role="button" (click)="RemoveCheckBox(ArrCheckBox[i])">
          <i class="fa fa-trash"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-6">
      <button class="btn btn-secondary rounded-0 w-100" (click)="AddCheckBox()">
        <i  class="fa fa-plus "></i> เพิ่มสิทธิ์
      </button>
    </div>
    <div class="col-6">
      <button class="btn btn-primary rounded-0 w-100" (click)="SubmitData()">
        <i  class="fa fa-check"></i> ตกลง
      </button>
    </div>
  </div>
</div>
