<ng-template class="modal" #content1 let-modal>
  <div class="modal-header bg-header">
    <span class="modal-title h6"><i class="fa fa-search mr-2"></i>ค้นหาข้อมูลลูกค้า</span>
    <button type="button" class="close" (click)=CloseModal()>
      &times;
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-borderless">
      <tr>
        <td>
          <input type="text" class="form-control form-control-sm" id="txtSearchCustomer" [disabled]=IsLoading (keyup.enter)=SearchCustomer()>
        </td>
        <td style="width: 150px;">
          <button class="btn btn-primary w-100 btn-sm" type="button"[disabled]=IsLoading (click)=SearchCustomer()>
            <i class="fa fa-search mx-2"></i>
            <!-- <i class="spinner-grow spinner-grow-sm mx-2" *ngIf=IsLoading></i> -->
            ค้นหา
          </button>
        </td>
      </tr>
    </table>
    <div class="table-custom-scrollbar">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center align-middle">#</th>
            <th class="text-center align-middle">รหัสลูกค้า</th>
            <th class="text-center align-middle">คำนำหน้า</th>
            <th class="text-center align-middle">ชื่อลูกค้า</th>
            <th class="text-center align-middle">ที่อยู่</th>
            <th class="text-center align-middle">เบอร์โทร</th>
            <!-- <th>เลือก</th> -->
          </tr>
        </thead>
        <tbody >
          <!-- (click)="SelectCusCode = cus.CustCode" class="{{SelectCusCode === cus.CustCode?'table-success':''}}" -->
          <tr *ngFor="let cus of ArrCustomer;let i = index "  role="button" (click)="SelectCustomer(cus)">
            <td class="text-center align-middle">{{(NumPageIndex-1) * NumPageSize + i+1}}</td>
            <td class="align-middle">{{ArrCustomer[i].CustCode}}</td>
            <td class="align-middle">{{ArrCustomer[i].CustPrefix}}</td>
            <td class="align-middle">{{ArrCustomer[i].CustName}}</td>
            <td class="align-middle" [colSpan]="ArrCustomer[i].Phone === '' ? 2 : 1">{{ArrCustomer[i].CustAddr1}} {{ArrCustomer[i].CustAddr2}}</td>
            <td class="align-middle" *ngIf="ArrCustomer[i].Phone !== ''">{{ArrCustomer[i].Phone}}</td>
            <!-- <td><button class="btn btn-sm btn-primary btn-block" (click)=SelectCustomer(cus)>{{i+1}}</button></td> -->
            <!-- <td class="btn-outline-success text-center" style="cursor: pointer;width: 50px;" (click)=SelectCustomer(cus)>
              <i class="fa fa-check"></i>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-between p-2" *ngIf="ArrCustomer.length > 0">
      <ngb-pagination [collectionSize]="NumCollectionSize" [(page)]="NumPageIndex" [pageSize]="NumPageSize" (pageChange)="OnPageIndexChange()" [maxSize]=5 size="sm">
        <!-- <ng-template ngbPaginationPrevious>Prev</ng-template>
        <ng-template ngbPaginationNext>Next</ng-template>
        <ng-template ngbPaginationNumber let-p>{{p}}</ng-template> -->
      </ngb-pagination>
    
      <select class="custom-select custom-select-sm" style="width: auto" [(ngModel)]="NumPageSize" (ngModelChange)="OnPageSizeChange()" role="button">
        <option [ngValue]="10">แสดง 10 รายการ</option>
        <option [ngValue]="20">แสดง 20 รายการ</option>
        <option [ngValue]="30">แสดง 30 รายการ</option>
        <option [ngValue]="40">แสดง 40 รายการ</option>
        <option [ngValue]="50">แสดง 50 รายการ</option>
      </select>
    </div>
  </div>
  <!-- <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)=SelectCustomer2()>
      <i class="fa fa-check mx-2"></i>ตกลง
    </button>
    <button type="button" class="btn btn-default btn-sm" (click)=CloseModal()>
      <i class="fa fa-times mx-2"></i>ยกเลิก
    </button>
  </div> -->
</ng-template>
