<!-- #dateTimePicker -->
<div  class="input-group input-group-sm date w-100" id="{{CurrentId}}" data-target-input="nearest">
  <input type="text" class="form-control form-control-sm datetimepicker-input rounded-0" data-toggle="datetimepicker" placeholder="Select date &amp; time" [attr.data-target] = "'#'+CurrentId">
  <div class="input-group-append" [attr.data-target] = "'#'+CurrentId" data-toggle="datetimepicker">
      <span class="rounded-0 btn btn-primary  ">
          <i class="fa fa-calendar"></i>
      </span>
  </div>
</div>
