<div *ngIf="isUserAuthenticated()" class="card">
  <div class="card-header bg-header-page">รายการค่าใช้จ่าย</div>
  <div class="card-body">
    <div class="row">
      <div class="col-12" style="text-align: right;">
        <button class="btn btn-primary" routerLink="/Expense/New">
          <i class="fa fa-plus"></i>
          &nbsp;เพิ่มเอกสาร
        </button>
      </div>
    </div>
    <!-- End Of Panel Button -->
    <div class="row">
      <div class="col-12">
        <div class="row border-bottom border-left border-right border-top m-0 pt-3 shadow">
          <div class="col-6 topic">
            <mat-form-field appearance="fill" style="width: 100% !important">
              <mat-label>ค้นหา</mat-label>
              <input matInput type="text" [(ngModel)]="filterValue" (keyup.enter)="FindByValue(filterValue)"
                placeholder="คำค้นหา">
            </mat-form-field>
          </div>
          <div class="col-4 topic">
            <mat-form-field appearance="fill" style="width: 100% !important">
              <mat-label>วันที่</mat-label>
              <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRange">
                <input matStartDate formControlName="start" placeholder="จากวันที่">
                <input matEndDate formControlName="end" placeholder="ถึงวันที่">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>
          <div class="col-2">
            <button class="btn btn-primary h-75 w-100" (click)="FindByValue(filterValue)">
              <i class="fa fa-search"></i>
              &nbsp;ค้นหา
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Of Search Panel -->
    <div *ngIf="dataSource">
      <table mat-table [dataSource]="dataSource" matSort
        class="mat-elevation-z8 table table-sm table-bordered table-hover mb-0 mt-3">
        <ng-container matColumnDef="no">
          <th class="text-center" mat-header-cell *matHeaderCellDef>ลำดับ</th>
          <td class="text-center p-2" mat-cell *matCellDef="let element; let i = index">{{no + (i + 1)}}</td>
        </ng-container>

        <ng-container matColumnDef="docno">
          <th class="text-center" mat-header-cell *matHeaderCellDef>เลขที่เอกสาร</th>
          <td class="text-center p-2" mat-cell *matCellDef="let element"> {{element.docNo}} </td>
        </ng-container>

        <ng-container matColumnDef="docdate">
          <th class="text-center" mat-header-cell *matHeaderCellDef>วันที่เอกสาร</th>
          <td class="text-center p-2" mat-cell *matCellDef="let element"> {{element.docDate | date:'dd/MM/yyyy'}} </td>
        </ng-container>


        <ng-container matColumnDef="workType">
          <th class="text-center" mat-header-cell *matHeaderCellDef>เวลาทำงานของสถานี</th>
          <td class="text-center p-2" mat-cell *matCellDef="let element"> {{element.workStart}} - {{element.workFinish}}</td>
          <!-- <td class="text-right p-2" mat-cell *matCellDef="let element"> {{element.netamt | number: '1.2-2'}} </td> -->
        </ng-container>

        <ng-container matColumnDef="docstatus">
          <th class="text-center" mat-header-cell *matHeaderCellDef>สถานะเอกสาร</th>
          <td class="text-center p-2" mat-cell *matCellDef="let element"><span
              [ngClass]="element.docstatus === 'ยกเลิก'? 'text-danger':''">{{ SvDefault.GetThaiDocStatus(element.docStatus)}}</span></td>
        </ng-container>
        <tbody>
          <tr mat-header-row *matHeaderRowDef="displayedColumns" class="text-center align-middle"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns" role="button"
            (click)="navigateToProfile(row.guid)"></tr>
        </tbody>
      </table>
      <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = $event; OnPaginateChange($event)" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
</div>