<div class="card">
  <div class="card-cody p-2">
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-md btn-secondary mr-2 waves-effect rounded-0">
          Create
        </button>
        <button class="btn btn-md btn-light mr-2 waves-effect rounded-0">
          Import
        </button>
      </div>

      <div class="col-md-6 d-flex py-1">
        <div class="dropdown mx-2">
          <a
            id="btn-filter"
            class="dropdown-toggle text-decoration-none text-dark waves-effect p-1"
            href="javascript:void(0)"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="true"
          >
            <i class="fas fa-filter"></i>
            Filter
          </a>
          <ul
            class="dropdown-menu checkbox-menu allow-focus"
            aria-labelledby="btn-filter"
          >
            <h6 class="dropdown-header">Group FIlter</h6>

            <li>
              <label>
                <input type="checkbox" />
                Group A
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" />
                Group B
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" />
                Group C
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" />
                Group D
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" />
                Group E
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" />
                Group F
              </label>
            </li>

            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Group Type</h6>

            <li>
              <label>
                <input type="checkbox" />
                Type A
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" />
                Type B
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" />
                Type C
              </label>
            </li>
          </ul>
        </div>

        <div class="dropdown mx-2">
          <a
            id="btn-filter"
            class="dropdown-toggle text-decoration-none text-dark waves-effect p-1"
            href="javascript:void(0)"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="true"
          >
            <i class="fas fa-bars"></i>
            Group By
          </a>
          <ul
            class="dropdown-menu checkbox-menu allow-focus"
            aria-labelledby="btn-filter"
          >
            <li>
              <label>
                <input type="checkbox" />
                Fauculty
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" />
                Company
              </label>
            </li>

            <li>
              <label>
                <input type="checkbox" />
                Level
              </label>
            </li>
          </ul>
        </div>

        <div class="ml-auto">
          <span class="mr-2">1-20 / 40</span>
          <a href="javascript:void(0)" class="mr-2 text-dark">
            <i class="fas fa-chevron-left"></i>
          </a>
          <a href="javascript:void(0)" class="ml-2 text-dark">
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-sm-1">
    <div class="card card-group-item">
      <div class="card-header">
        Human Resources
        <div class="card-action">
          <div class="btn-group">
            <a
              role="button"
              type="button"
              href="javascript:void(0)"
              class="dropdown text-dark"
              data-toggle="dropdown"
            >
              <i class="fas fa-ellipsis-v"></i>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item">Users</li>
              <li class="dropdown-item">Permissions</li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item">Edit Group</li>
              <li class="dropdown-item">Delete Group</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <button class="btn btn-secondary waves-effect rounded-0">
              5 Applications
            </button>
          </div>
          <div class="col-6">
            <div>100 users</div>
            <div>6 recruit</div>
            <div>10 approver</div>
            <div>5 users last added</div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-6">
            <a href="javascript:void(0)" class="text-primary"> Description </a>
          </div>
          <div class="col-6 text-right">
            <a href="javascript:void(0)" class="ml-3 text-primary">
              <i class="far fa-edit"></i>
            </a>
            <a href="javascript:void(0)" class="ml-3 text-primary">
              <i class="fas fa-users"></i>
            </a>
            <a href="javascript:void(0)" class="ml-3 text-primary">
              <i class="far fa-trash-alt"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-1">
    <div class="card card-group-item">
      <div class="card-header">
        Human Resources
        <div class="card-action">
          <div class="btn-group">
            <a
              role="button"
              type="button"
              href="javascript:void(0)"
              class="dropdown text-dark"
              data-toggle="dropdown"
            >
              <i class="fas fa-ellipsis-v"></i>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item">Users</li>
              <li class="dropdown-item">Permissions</li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item">Edit Group</li>
              <li class="dropdown-item">Delete Group</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <button class="btn btn-secondary waves-effect rounded-0">
              5 Applications
            </button>
          </div>
          <div class="col-6">
            <div>100 users</div>
            <div>6 recruit</div>
            <div>10 approver</div>
            <div>5 users last added</div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-6">
            <a href="javascript:void(0)" class="text-primary"> Description </a>
          </div>
          <div class="col-6 text-right">
            <a href="javascript:void(0)" class="ml-3 text-primary">
              <i class="far fa-edit"></i>
            </a>
            <a href="javascript:void(0)" class="ml-3 text-primary">
              <i class="fas fa-users"></i>
            </a>
            <a href="javascript:void(0)" class="ml-3 text-primary">
              <i class="far fa-trash-alt"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-1">
    <div class="card card-group-item">
      <div class="card-header">
        Human Resources
        <div class="card-action">
          <div class="btn-group">
            <a
              role="button"
              type="button"
              href="javascript:void(0)"
              class="dropdown text-dark"
              data-toggle="dropdown"
            >
              <i class="fas fa-ellipsis-v"></i>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item">Users</li>
              <li class="dropdown-item">Permissions</li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item">Edit Group</li>
              <li class="dropdown-item">Delete Group</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <button class="btn btn-secondary waves-effect rounded-0">
              5 Applications
            </button>
          </div>
          <div class="col-6">
            <div>100 users</div>
            <div>6 recruit</div>
            <div>10 approver</div>
            <div>5 users last added</div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-6">
            <a href="javascript:void(0)" class="text-primary"> Description </a>
          </div>
          <div class="col-6 text-right">
            <a href="javascript:void(0)" class="ml-3 text-primary">
              <i class="far fa-edit"></i>
            </a>
            <a href="javascript:void(0)" class="ml-3 text-primary">
              <i class="fas fa-users"></i>
            </a>
            <a href="javascript:void(0)" class="ml-3 text-primary">
              <i class="far fa-trash-alt"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-1">
    <div class="card card-group-item">
      <div class="card-header">
        Human Resources
        <div class="card-action">
          <div class="btn-group">
            <a
              role="button"
              type="button"
              href="javascript:void(0)"
              class="dropdown text-dark"
              data-toggle="dropdown"
            >
              <i class="fas fa-ellipsis-v"></i>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item">Users</li>
              <li class="dropdown-item">Permissions</li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item">Edit Group</li>
              <li class="dropdown-item">Delete Group</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <button class="btn btn-secondary waves-effect rounded-0">
              5 Applications
            </button>
          </div>
          <div class="col-6">
            <div>100 users</div>
            <div>6 recruit</div>
            <div>10 approver</div>
            <div>5 users last added</div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-6">
            <a href="javascript:void(0)" class="text-primary"> Description </a>
          </div>
          <div class="col-6 text-right">
            <a href="javascript:void(0)" class="ml-3 text-primary">
              <i class="far fa-edit"></i>
            </a>
            <a href="javascript:void(0)" class="ml-3 text-primary">
              <i class="fas fa-users"></i>
            </a>
            <a href="javascript:void(0)" class="ml-3 text-primary">
              <i class="far fa-trash-alt"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
