<div *ngIf="isUserAuthenticated()" class="card ">
    <div class="card-header bg-header-page"
        style="font-size: 16px !important; height: 40px;  padding-top: 10px; font-weight: 600;">
        รายการใบแจ้งหนี้
    </div>
    <!-- End Of Card Header -->
    <div class="card-body">
        <div class="row">
            <div class="col-12" style="text-align: right;">
                <button class="btn btn-primary" routerLink="/Invoice/New">
                    <i class="fa fa-plus"></i>
                    &nbsp;เพิ่มเอกสาร
                </button>
                <!-- &nbsp;
                <button class="btn btn-primary" data-toggle="collapse" data-target="#criteria">
                    <i class="fa fa-search"></i>
                    &nbsp;ค้นหาข้อมูล
                </button> -->
            </div>
        </div>
        <!-- End Of Panel Button -->
        <div class="row">
            <div class="col-12">
                <div class="row border-bottom border-left border-right border-top m-0 pt-3 shadow">
                    <div class="col-6 topic">
                        <mat-form-field appearance="fill" style="width: 100% !important">
                            <mat-label>ค้นหา</mat-label>
                            <input matInput type="text" [(ngModel)]="filterValue" (keyup.enter)="SearchInvoiceAsync()"
                                placeholder="คำค้นหา">
                        </mat-form-field>
                    </div>
                    <div class="col-4 topic">
                        <mat-form-field appearance="fill" style="width: 100% !important">
                            <mat-label>วันที่</mat-label>
                            <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRange">
                                <input matStartDate formControlName="start" placeholder="จากวันที่">
                                <input matEndDate formControlName="end" placeholder="ถึงวันที่">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary h-75 w-100" (click)="SearchInvoiceAsync()">
                            <i class="fa fa-search"></i>
                            &nbsp;ค้นหา
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Of Search Panel -->
        <table mat-table [dataSource]="DataSource" class="table-sm table-hover table-bordered mt-3 mb-0 shadow">
            <tbody>
                <tr mat-header-row *matHeaderRowDef="ArrColumnDisplay"></tr>
                <!-- [routerLink]="['/Invoice']" [queryParams]="{DocNo : row.docNo}" -->
                <tr mat-row *matRowDef="let row; columns: ArrColumnDisplay;" [routerLink]="['/Invoice' , row.guid]"
                    role="button" matRipple></tr>
                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef class="text-center p-2">
                        ลำดับ
                    </th>
                    <td mat-cell *matCellDef="let i=index" class="p-2 text-center">
                        {{no + (i + 1)}}
                        <!-- {{this.paginator.pageIndex == 0 ? i + 1 : 1 + i + this.paginator.pageIndex * this.paginator.pageSize}} -->
                    </td>
                </ng-container>
                <ng-container matColumnDef="docNo">
                    <th mat-header-cell *matHeaderCellDef class="text-center">
                        เลขที่เอกสาร
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center p-2">
                        {{element.docNo}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="docDate">
                    <th mat-header-cell *matHeaderCellDef class="text-center">
                        วันที่เอกสาร
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center p-2">
                        {{element.docDate | date:'dd/MM/yyyy'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="custName">
                    <th mat-header-cell *matHeaderCellDef class="text-center">
                        ลูกค้า
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-left p-2">
                        {{element.custCode}}&emsp;{{element.custName}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="netAmt">
                    <th mat-header-cell *matHeaderCellDef class="text-center">
                        มูลค่าสุทธิ (บาท)
                    </th>
                    <td mat-cell *matCellDef="let element" class="p-2 text-right">
                        {{element.netAmt | number:'1.2-2'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="docStatus">
                    <th mat-header-cell *matHeaderCellDef class="text-center p-2">
                        สถานะเอกสาร
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-center p-2">
                        <!-- {{SvDefault.GetThaiDocStatus(element.docStatus)}} -->
                        <span [ngClass]="element.docStatus === 'Cancel'? 'text-danger':''">{{ SvDefault.GetThaiDocStatus(element.docStatus)}}</span>
                    </td>
                </ng-container>
            </tbody>
        </table>
        <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
            (page)="pageEvent = $event; OnPaginateChange($event)" showFirstLastButtons>
        </mat-paginator>
        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons></mat-paginator> -->




        <div class="table-responsive"></div>
        <!-- /table-responsive -->




    </div>
    <!-- End Of Card Body -->




</div>
<!-- End Of Card -->