<!-- <div class="height-100v d-flex align-items-center justify-content-center"> -->
<div
  class="card card-authentication mx-auto my-5 border-warning border-top-sm border-bottom-sm animate__animated animate__fadeInDown"
>
  <div class="card-body">
    <div class="card-content p-2">
      <div class="text-center">
        <img src="./../../../../assets/images/ptg_logo.png" />
        <p>
          <small>PT Max Station</small>
        </p>
      </div>

      <div class="card-title text-uppercase text-center py-3 font-weight-bold">
        Reset Password
      </div>

      <form>
        <div class="form-group">
          <label for="username" class="sr-only">
            Username or Email Address
          </label>
          <input
            type="text"
            id="username"
            class="form-control rounded-0"
            placeholder="Enter your username or Email Address"
          />
        </div>
        <button
          type="button"
          class="btn btn-warning shadow-warning btn-round btn-block waves-effect waves-light"
        >
          Reset Password
        </button>
      </form>
    </div>
  </div>
</div>
<!-- </div> -->
